
body{
    background-color: aquamarine;
}
.Head{
    color:blueviolet;
}
#bglime{
    background-color: lime;
}
p{
    color:white;
}

#Para{
    color:green;
}
#red{
    color:red;
    background-color: lime;
}
#strong{
    color:black;
}

.Head span{
    color:red;
}